* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  

}

.LimitadorWidth{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

html {
  background: linear-gradient(100deg,#470082,#260145,#6501b8,#2d0052,#130023);
    background-size: 600% 500%;
    animation: Colors 15s ease-in-out infinite;
  scroll-behavior: smooth;

}

::-webkit-scrollbar-track {
  background-color: #252525;
  border-radius: 1rem;
}
::-webkit-scrollbar {
  width: 6px;
  background: #000000;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #7766DD;
  border-radius: 1rem;  
}
:target {
  scroll-margin-top: 65px;
}
p {
  color: #ffffff;
}

